.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
  &__name {
    padding: 1rem 0;
    font-size: 40px;
    color: #ffffff;
    z-index: 1;
  }
  &__date {
    padding: 1rem 0;
    color: #ffffff;
  }
}
